div.form-control.options {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.form-control.options span:not(.slider) {
  /* display: none; */
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

p.response-text {
  margin: auto;
  width: fit-content;
  padding: 0.7rem;
  border-radius: 1rem;
}
